body {
  background-color: lightblue; 
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 192%;
}

header {
  text-align: center;
  padding: 2%;
  color: black;
}

nav {
  background-color: #333;
  text-align: center;
  padding: 1%;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 1%;
}

nav a:hover {
  background-color: #555;
}

.botigaimatge {
  width: 100%;
}

.nombotiga {
  text-align: center;
  font-size: 2,4%;
  margin: 1%;
  color: red;
}

.descripciobotiga {
  text-align: center;
  margin: 2%;
  color: rgb(31, 0, 71);
}

.producte {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-box {
  width: 30%;
  margin: 1%;
  background-color: white;
  padding: 1%;
  text-align: center;
  box-sizing: border-box;
}

.product-box img {
  width: 100%;
  border-radius: 0,8%;
}

.productedescripcio{
  font-size: 1,6%;
  margin-top: 1%;
}

.productepreu {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 0,5%;
}

form {
  text-align: center;
  padding: 2%;
  border: 0,2% solid black;
  border-radius: 0,8%;
  box-sizing: border-box;
  margin-bottom: 5%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.form-row label {
  width: 30%;
  text-align: left;
}

.form-row select,
.form-row textarea {
  width: 65%;
}

.submit-btn {
  width: 100%;
  padding: 1%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0,8%;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1%;
  margin-top: auto;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0,05%;
  color: white;
  text-decoration: none;
  font-size: 2%;
}